<a href="/login">
    <div class="z-navicat-header_userAccNaviItemIcon" data-reactid="42">
        <svg id="loginLogo" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <g transform="translate(1 1)" fill="none" fill-rule="evenodd">
                <path d="M20.85 22.42C20.14 17.31 17.01 14 11 14s-9.14 3.31-9.85 8.42c-.05.38-.35.63-.67.57-.31-.06-.52-.42-.47-.8C.82 16.37 4.41 13 11 13s10.18 3.37 10.99 9.19c.05.38-.16.74-.47.8-.04.01-.07.01-.1.01-.28 0-.52-.24-.57-.58z"
                    fill="#333"> </path>
                <ellipse stroke="#333" cx="11" cy="5.5" rx="5" ry="5.5"> </ellipse>
            </g>
        </svg>
    </div>
</a>
<div id="imgSize">
<div id="imgText">
    <img id="header" src="/images/header.jpg" alt=""> 
    <div id="centered">Kajakklubben Pagaj</div>
</div>
</div>
<div id="nav">
    <nav>
        <a class="knap" href="/">Om Klubben </a>
        <a class="knap" href="/nyheder">Nyheder </a>
        <a class="knap" href="/arrangementer">Arrangementer </a>
        <a class="knap" href="/galleri">Galleri </a>
        <a class="knap" href="/badpark">Bådpark </a>
        <a class="knap" href="/blivMedlem">Bliv Medlem </a>
        <a class="knap" href="/minSide">Mine Side </a>
        <a class="knap" href="/kontakt">Kontakt </a>

    </nav> 
</div>