<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <header>
      <% include ../partials/css %>
      <% include ../partials/header %>
  </header>
<div id="indholdGalleri">
    <h3 class="titleH3"><%= title %></h3>
  <div id="galleriDiv">

      <% galleri.forEach(function(galleri) { %>
       
       <a href="galleri_kategori/<%=galleri.type%>"> <img  class="img3" src="images/<%= galleri.billede %>" alt=""></a>
        <% }) %>

  </div>
</div>
  <footer>
      <% include ../partials/footer %>
  </footer>
</body>

</html>